/*
	version: 1.0
	author: David Garcia
	date: 20150518
	
*/

/* Importamos el reset */
@import url("reset.css");

/* Importamos plugin datatables*/
@import url("jquery.dataTables.min.css");

/* Etiquetas */
body {
	background-image: url("../images/back.jpg");
	font-family: arial;
}

a {
	text-decoration: none;
	text-transform: uppercase;
}

a:hover {
	text-decoration: underline;
	color: orange;
}

h1 {
	color: green;
	font-size: 80px;
	font-family: arial;
	text-align: center;
	margin-bottom: 20px;
}

h2 {
	color: green;
	font-size: 50px;
	font-family: arial;
	text-align: center;
	margin-bottom: 20px;
}

p {
	font-size: 16px;
	font-family: arial;
	text-align: justify;
	line-height: 20px;
	margin-bottom: 10px;
}

strong {
	font-weight: bold;
}

ol, ul {
	list-style-type: circle;
	margin: 20px;
}

ul ul {
	list-style-type: disc;
	margin: 20px;
}

ol h3, ul h3 {
	font-weight: bold;
	margin-bottom: 15px;
}

li {
	margin-bottom: 8px;
}

/* figure { */
/*   display: block; */
/*   -webkit-margin-before: 1em; */
/*   -webkit-margin-after: 1em; */
/*   -webkit-margin-start: 40px; */
/*   -webkit-margin-end: 40px; */
/* } */
figure img {
	width: 25%;
	height: auto;
}

figure {
	text-align: center;
	display: table;
	max-width: 75%;
	margin: 10px auto;
}

/* Clases Comunes */
#container {
	background-color: #ffffff;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	margin: 25px auto 10px;
	padding: 25px 20px;
	width: 80%;
	min-height: 100%;
	clear: both;
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.volver {
	font-size: 20px;
	color: blue;
	margin: 15px;
}

table.tabla_azul, .tabla_azul tr, .tabla_azul td {
	border: 1px solid grey;
	font-size: 35px;
	text-align: center;
	color: #0099ff;
	font-family: arial;
}

.tabla_azul th, .tabla_azul td {
	padding: 10px;
	height: 50px;
}

.tabla_azul th {
	font-weight: bold;
	color: grey;
}

fieldset {
	border: 1px solid grey;
	padding: 10px 20px;
	margin-bottom: 20px;
}

legend {
	font-weight: bold;
}

form input[type="text"]:required:valid {
	background-color: rgb(173, 218, 132);
}

form input[type="text"]:focus:required:invalid {
	background-color: rgb(218, 132, 132);
}

header {
	margin-top: 15px;
}

footer {
	
}

section {
	width: 65%;
	float: left;
	padding: 20px;
}

aside {
	margin: 20px 10px;
	width: 25%;
	float: right;
	padding: 15px 15px;
	background-color: rgba(128, 128, 128, 0.55);
}

footer {
	margin: 15px 10px;
	padding: 15px 0;
	background-color: rgba(128, 128, 128, 0.55);
}

footer li {
	display: inline;
	margin: 0 15px;
}

article {
	border: 1px solid grey;
	padding: 20px;
	margin-bottom: 15px;
}

article h1 {
	font-size: 30px;
	background-color: grey;
	color: orange;
	padding: 5px 0;
}

.cnt_article {
	border: 1px solid red;
	padding: 15px;
}

/* Particulares */

/*Index*/
#btn_ganador {
	margin: 15px;
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2b53b8);
	background-image: -moz-linear-gradient(top, #3498db, #2b53b8);
	background-image: -ms-linear-gradient(top, #3498db, #2b53b8);
	background-image: -o-linear-gradient(top, #3498db, #2b53b8);
	background-image: linear-gradient(to bottom, #3498db, #2b53b8);
	-webkit-border-radius: 15;
	-moz-border-radius: 15;
	border-radius: 15px;
	font-family: Arial;
	color: #ebebeb;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	border: solid #1f628d 1px;
	text-decoration: none;
	background: #3498db;
}

#btn_ganador:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}

#div_afortunado {
	margin: 0 auto;
	width: 50%;
}

#index #content {
	position: relative;
}

#index aside {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
}

#suerte {
	height: 175px;
	width: 630px;
	margin: 0px auto 10px;
	display: block;
}

#index .tabla_azul {
	border-spacing: 15px;
	margin: 0 auto;
}

#index .celda {
	border-style: solid;
	border-width: 1px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
	padding: 20px 25px;
	word-break: normal;
	text-align: center;
}

#index .celda_on {
	background-color: red;
	border-style: solid;
	border-width: 1px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
	padding: 20px 25px;
	word-break: normal;
	text-align: center;
}

#index .numero {
	color: #0099ff;
	font-family: arial;
	font-size: 50px;
	display: block;
	text-align: center;
}

#index aside h3 {
	font-size: 30px;
	color: green;
	text-align: center;
	font-weight: bold;
}

/*Parrafos*/
#parrafos {
	margin-top: 20px;
}

#parrafos .encabezado {
	border: 5px dotted green;
	padding: 35px;
}

#parrafos .highlight {
	background-color: yellow;
}

#parrafos .verde {
	color: green;
}

/*Bloques*/
#ej2 {
	margin: 20px 0;
}
/*Listas*/
#ej3{
	margin: 20px 0;
}
/*Cartelera detalle*/
#cartelera_detalle{
	margin-top: 20px;
}

#cartelera_detalle .cartel {
	width: 250px;
	height: auto;
	margin-right: 30px;
	float: left;
}

#cartelera_detalle #ficha {
	float: left;
	min-height: 370px;
	width: 620px;
	margin-bottom: 20px;
}

#cartelera_detalle #ficha p {
	font-size: 32px;
	line-height: 37px;
}

#cartelera_detalle #ficha .destacado {
	color: green;
	font-weight: bold;
}

#cartelera_detalle #sinopsis {
	border: 2px solid grey;
	height: 200px;
	float: left;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 15px;
}
/*Cartelera*/
#cart{
	margin-top: 20px;
}

#cart .carteles img {
	float: left;
	height: 250px;
	width: 100%;
}

#cart .carteles p {
	display: none;
	float: left;
	position: absolute;
	bottom: 0px;
	background-color: rgba(76, 74, 74, 0.72);
	border-top: 1px solid #fff;
	margin: 0px;
	width: 100%;
	height: 25%;
	text-align: center;
	padding: 15px 0;
	font-weight: bold;
	font-size: 16px;
}

#cart .carteles img:hover+p, #cart .carteles p:hover {
	display: block;
}

#cart .carteles img {
	position: relative;
}

#cart .pelicula {
	position: relative;
	display: inline-block;
	width: 20%;
	display: inline-block;
}

#cart .cartelera {
	list-style-type: none;
}

#cart .horarios img {
	float: left;
	height: auto;
	width: 25%;
	margin: 15px;
}

#cart .horarios p {
	float: left;
	min-width: 70%;
	text-align: center;
}

#cart .horarios {
	float: left;
	height: auto;
	width: 775px;
	margin: 25px;
	background-color: #D7E7D8;
	padding: 10px;
	list-style-type: none;
}

#cart .horarios div {
	float: left;
	height: 100%;
	width: 100%;
}

#cart .horarios:hover {
	background-color: #91B293;
}

#cart .cine {
	float: left;
}

#cart .cine h3 {
	font-size: 40px;
	color: rgba(66, 110, 66, 0.85);
	text-align: center;
	background-color: rgba(128, 128, 128, 0.58);
	font-weight: bolder;
}

#cart .titulo {
	font-size: 35px;
	margin: 30px 0 50px 0;
}

#cart .t_horario {
	font-size: 20px;
	font-weight: bold;
}

/* Datatables*/
#tables {
	width: auto;
}

#tables h1{
	padding-top: 20px;
}

/* NAV */
#nav {
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	margin: 0px auto 15px;
	z-index: 2;
	background-image: url("../images/back.jpg");
	padding: 10px 0px;
}

.nav * {
	margin: 0px;
	padding: 0px;
}

#logo {
	display: block;
	width: 100%;
	height: 100%;
}

#logo img {
	width: auto;
	height: 13px;
}

.nav {
	width: 50%;
}

.nav, .nav ul, .nav ol {
	list-style: none;
	margin: 0px auto;
}

.nav>li, .nav>h3 {
	float: left;
}

.nav li a, .nav li h3 {
	background-color: #000;
	color: #fff;
	text-decoration: none;
	padding: 10px 12px;
	display: block;
}

.nav li a:hover, .nav li h3:hover {
	background-color: #434343;
}

.nav li ul {
	display: none;
	position: absolute;
	min-width: 140px;
}

.nav li:hover>ul {
	display: block;
}

.nav li ul li {
	position: relative;
}

.nav li ul li ul {
	right: -140px;
	top: 0px;
}

/* Footer */
.social_links {
	
}


/* Figure */

#figure section{
	padding: 0px;
	width:100%;
}

/* Canvas */

#canvas h2{
	padding-top: 20px;
}

/* Mark */

#mark h2{
	padding-top: 20px;
}

/* Login */

#login h1{
	padding-top: 20px;
}

/* Datos_personales */

#datos_personales h1{
	padding-top: 20px;
}

/* Datalist*/

#datalist h2{
	padding-top: 20px;
}

/* Progress y meter*/

#progress_meter h2{
	padding-top: 20px;
}